<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nilenso.com.kulu_mobile"
    android:versionCode="6"
    android:versionName="1.05"
    >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true" >
        <activity
            android:name="nilenso.com.kulu_mobile.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="nilenso.com.kulu_mobile.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />

        </service>

        <provider
            android:name=".provider.StubProvider"
            android:authorities="nilenso.com.kulu_mobile.sync.basicsyncadapter"
            android:exported="false" />

        <service android:name="nilenso.com.kulu_mobile.accounts.GenericAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="nilenso.com.kulu_mobile.InvoiceUploadService"
            android:exported="false" />

        <activity
            android:name="nilenso.com.kulu_mobile.RecordExpense"
            android:label="@string/title_activity_record_expense"
            android:parentActivityName="nilenso.com.kulu_mobile.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nilenso.com.kulu_mobile.MainActivity" />
        </activity>
    </application>

</manifest>
